<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFTestDate" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rauljapon.cloudapp.net/WCFTestDate.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFTestDate"
                contract="WCFTestDateJaponSrv.IWCFTestDate" name="BasicHttpBinding_IWCFTestDate" />
        </client>
    </system.serviceModel>
</configuration>